<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    
    <% if (devskills) { %>
        <h1>Devskill #<%= devskills.id %></h1>
        <h3><%= devskills.devskill %></h3>
        <h3>Complete: <%= devskills.done ? 'Yes': 'No' %></h3>
        <% } else { %>
        <h3>Devskill Not Found</h3>
        <% } %>
</body>
</html>